
    <div class="flex items-center justify-center">
      <span class="text-xs font-medium text-gray-500 uppercase tracking-wider">Delivery Date</span>
      <button id="bulk-delivery-date-btn" type="button" class="ml-2 text-gray-500 hover:text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
      </button>
    </div>
    <input type="date" id="bulk-delivery-date" class="hidden">
